name: Simple CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run hello script
        run: |
          echo "Running CI Pipeline"
          cat file.txt
